{% extends "home/base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<h1>View Cart</h1>
{% if cart_items|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>


{% for item in cart_items %}

 <tr>
            <td><img width="150" height="75" src="{{MEDIA_URL}}{{item.product.image}}"/></td>    
            <td>{{ item.product.name }}</td>    
            <td>{{ item.quantity}}</td>    
            <td>€ {{ item.product.price }}</td>
            <td>€ {{ item.sub_total}}</td>

             <td><form method="post" action = "{% url 'remove_from_cart' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value={{item.product.id}}>
                <button class="btn btn-success" type="submit">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total:</strong></td>
            <td><strong>€ {{total}}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>
<a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
{% else %}
<h1>Your Cart is empty</h1>
{% endif %}
<div class="container">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="query">
            <button type="submit">Search</button>
        </form>
</div>


{% endblock content %}
