{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChesterGreen Merchant</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/solid.css" integrity="sha384-S2gVFTIn1tJ/Plf+40+RRAxBCiBU5oAMFUJxTXT3vOlxtXm7MGjVj62mDpbujs4C" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/fontawesome.css" integrity="sha384-0b7ERybvrT5RZyD80ojw6KNKz6nIAlgOKXIcJ0CV7A6Iia8yt2y1bBfLBOwoc9fQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    {% block head_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock head_js %}

</head>

<body>
    
<header class="header">
       
        <div id="header-content" class="header-content">
            <div class="row">
                    <div class="header-logo col-sm-2">
                    <a class="navbar-brand" href="/"><img class="logo" src="{% static 'images/logo.jpg' %}"></a>
                    </div>
                    <div class="col-sm-8">
                            <div class="header-tittle">
                                <h1> Chester Appliances
                                
                                    <p class="lead">For All Your Household Gadgets</p>
                                </h1>
                            </div>
                    </div>
                    <div class="floating_cart navbar-right col-sm-2">
                            <div>
                                <a class="badgelog" href="{% url 'view_cart' %}">Basket 
                                {% if items_in_cart %}
                                <span class="badge item_badge">{{items_in_cart}}</span>
                                {% else %}
                                <i class="fas fa-shopping-cart"></i>
                                {% endif %}
                                </a>
                            </div>
                            <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Account
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' %}">Profile</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% else %}
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                    </ul>
                            </div>
                    </div>
                </div>
            </div>
    </div>
 
    <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          </div>  
             <div id="navbar" class="navbar-collapse collapse">   
                <ul class="nav navbar-nav navbar-right">
                    {% if messages %}
                    <div class="alert alert-success">
                        <div class="messages">
                            {% for message in messages %} {{ message }} {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'products' %}">Products</a></li>
                    <li><a href="{% url 'get_posts' %}">Blog</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'new_post' %}">New Post</a></li>
                    
                      {% else %}{% endif %}

                </ul>
            </div>
        </div>
    </div>
    
</header>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
                     
    

   


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <!--blogpost entries-->
                            {% block content %} {% endblock %}
                            <!--blogpost entries-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>ChesterGreen Merchants</p>

                </div>
                <div class="col-sm-6">
                    <a href="#" target="_blank">
              <img class="social" src="{% static 'images/FBlogo.png' %}"></a>
                    <a href="#" target="_blank">
              <img class="social" src="{% static 'images/twiterlogo.png' %}"></a>
                    <div>
                    </div>
                </div>


            </div>

            <div>

    </footer>


</body>



</html>