{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block content %}
    
        <form action="{% url 'search' %}" method="get">
        <div class="searchform">
            <input type="text" placeholder="Item name / Cat. number" name="query">
            <button type="submit">Search</button>
        </div>
        </form>

<div class="home_page_text">
<h1>Quality Appliances and Equipments at Your Rich.</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="index_page_images" src="{% static 'images/laptop.jpeg' %}"></img>
        </div>
        <div class="col-sm-4">
            <img class="index_page_images" src="{% static 'images/monitor.jpg' %}"></img>
        </div>
        <div class="col-sm-4">
            <img class="index_page_images" src="{% static 'images/samsung.jpeg' %}"></img>
        </div>
    </div>
</div>










 
<table class="table">
<thead>
    <tr>
        <th></th>    
        <th>Name</th>    
        <th>Price</th>
        <th>Brand</th>
        <th></th>
        <th></th>
  </tr>
</thead>
<tbody>
{% for product in products %}
<tr>
    <td><a href="{% url 'product_detail' product.id %}"><img height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></img></a></td> 
    <td>{{ product.name }}</td>
    <td>€ {{ product.price }}</td>
    <td>{{ product.brand }}</td>
    <td><a href="{% url 'product_detail' product.id %}" class="btn btn-default">Detail</a></td>
    <td>
        <form method="POST" action="{% url 'add_to_cart' %}">
                    {% csrf_token %} 
            <input type="hidden" name="product_id" value="{{product.id}}"/>
            <button class="btn btn-success" type="submit" value="Add To Cart">Add to Cart</button>
        </form>
    </td>
</tr> 
{% endfor %}
</tbody>
</table>

{% endblock content %}