{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block content %}
    
        <form action="{% url 'search' %}" method="get">
        <div class="searchform">
            <input type="text" placeholder="Item name / Cat. number" name="query">
            <button type="submit">Search</button>
        </div>
        </form>

<div class="home_page_text">
<h1>Quality Appliances and Equipments at Your Reach.</h1>
</div>


<div class="container-fluid">
  <div class="row">
     {% for product in products %}
    <div class="col-sm-4 col-lg-4 col-md-4">
       
      <div class="x_for_close">
          <div class="thumbnail">
        <a href="{% url 'product_detail' product.id %}"><img height="200px" width="150px" src="{{ MEDIA_URL }}{{ product.image }}"></img>
        <h4 class="pull-right">€{{product.price}}</h4>
            <h4>{{product.name|truncatechars:20}}</h4>
            </a>
        <form method="POST" action="{% url 'add_to_cart' %}">
                    {% csrf_token %} 
            <input type="hidden" name="product_id" value="{{product.id}}"/>
            <button class="btn" type="submit" value="Add To Cart"><i class="fas fa-cart-plus fa-2x"></i></button>
        </form>
        <span class="text-warning">
                {% for star in product.stars %}
                <i class="fa fa-star"></i>
                {% endfor %}
                {% if product.needs_half_star %}
                <i class="fa fa-star-half"></i>
                {% endif %}                
              </span>
        </div>
        </div>

</div>
{% endfor %}
</div>
</div>
{% endblock content %}