.navbar-form input, .form-inline input {
    width: auto;
}

body {
    font-family: Arial;
    padding-top: 50px;
}

.logo {
    height: 130px;
    
    margin-bottom: 10px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 40px;
    margin-bottom: 10px;
    color: green;    
}

.navbar {
    background-image: none;
    background-color: green;
    height: 50px;
    font-size: large;
}



.social {
    height: 40px;
    width: 40px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ededed;
}

.searchform {
    text-align: right;
    padding-bottom: 40px;
    padding-top: 40px;

}

.img-circle{
    width:100px;
    height: 100px; 
}

.img-blogpost{
    width:150px;
    height: 150px; 
}

