.navbar-form input, .form-inline input {
    width: auto;
}

body {
    font-family: Arial;
    padding-top: 50px;
}

.logo {
    height: 100px;
   
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ededed;
}

.searchform {
    text-align: right;
    padding-bottom: 40px;

}

.img-circle{
    width:100px;
    height: 100px; 
}

.img-blogpost{
    width:150px;
    height: 150px; 
}
