{% extends 'home/base.html' %}
{% load static from staticfiles %} 
{% load bootstrap_tags %}

{% block content %}
    <form action="{% url 'search' %}" method="get">
        <div class="searchform">
            <input type="text" placeholder="Item name / Cat. number" name="query">
            <button type="submit">Search</button>
        </div>
    </form>
  
<table class="table">
<thead>
    <tr>
        <th></th>    
        <th>Name</th>    
        <th>Price</th>
        <th>Brand</th>
        <th></th> 
        <th></th>
  </tr>
</thead>
<tbody>
    {% for product in products %}
<tr>
    <td><img height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></img></td> 
    <td>{{ product.name }}</td>
    <td>€ {{ product.price }}</td>
    <td>{{ product.brand }}</td>
    <td><a href="{% url 'product_detail' product.id %}" class="btn btn-default">More Detail</a></td>
    <td>
            <form method="POST" action="{% url 'add_to_cart'%}">
                        {% csrf_token %} 
                        <input type="hidden" name="product_id" value="{{product.id}}"/>
                <button type="submit" value="Add To Cart">Add to Cart</button>
            </form>
        </td>
    
</tr> 
{% endfor %}
</tbody>
</table>

{% endblock %}
        