{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
 
 
 <h3>Title: {{ product.name }}</h3>
 {% if product.image %}
  <img class="prodimage" src="{{MEDIA_URL}}{{product.image}}" width ='250px' height ="200px">
  {% endif %}
    <p>Price: €{{product.price}}</p>
    <p>{{ product.name }} Description{{product.description}}</p>
    <p>Brand: {{product.brand }}</p>
    <p>
       <span class="text-warning">
                {% for star in product.stars %}
                <i class="fa fa-star"></i>
                {% endfor %}
                {% if product.needs_half_star %}
                <i class="fa fa-star-half"></i>
                {% endif %}                
              </span>
    
    {% include "reviews/_show_reviews.html" %}

       {% if user.is_authenticated %}
       {% include "reviews/_add_review_form.html" %}
       {% endif %}
       
    </p>
   
    <form method="POST" action="{% url 'add_to_cart' %}">
            {% csrf_token %} 
    <input type="hidden" name="product_id" value="{{product.id}}"/>
    <button type="submit" value="Add To Cart">Add to Cart</button>
    </form>
    <a href="{% url 'products' %}" class="btn btn-default">Back to Products</a>


{% endblock %}