{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
 
 
 <h3>{{ product.name }}</h3>
 {% if product.image %}
  <img class="prodimage" src="{{MEDIA_URL}}{{product.image}}" width ='250px' height ="200px">
  {% endif %}
    <p>{{product.price}}</p>
    <p>{{product.description}}</p>
    <p>{{product.brand }}</p>
    <form method="POST" action="{% url 'add_to_cart' %}">
            {% csrf_token %} 
    <input type="hidden" name="product_id" value="{{item.product.id}}"/>
    <button type="submit" value="Add To Cart">Add to Cart</button>
    </form>
    <a href="{% url 'products' %}" class="btn btn-default">Back to Products</a>


{% endblock %}