{% extends "home/base.html" %}
{% load static from staticfiles %}
{% block content %}
    <div class="row">
        
        <div class="col-sm-10 col-md-9">
            {% if post.image %}
                <img class="img-blogpost" src="{{MEDIA_URL}}{{ post.image }}">
            {% endif %}
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ post.content  | linebreaksbr }}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{post.views}}</p>
                    <p><span class="boldtext">Author:</span> {{ post.author }}</p>
                    <a href="{% url 'get_posts' %}" class="btn btn-default">Back to Blog</a>
                    {% if user.is_authenticated and user == post.author or user.is_superuser %}
                    <a href="{% url 'edit_post' post.id%}" class="btn btn-default">Edit Post</a>
                    {% endif %}
                    
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}